@tailwind base;
@tailwind components;
@tailwind utilities;


.ovo-regular {
    font-family: "Ovo", serif;
    font-weight: 400;
    font-style: normal;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }